	<h1 class="name">Tony Carballeira</h1>

	
       			<img src="/assets/yes.png" id="tony" class="parent"/>
				<div class="child">
					<h2 id="tech">technologies:</h2>
					<ul id="things">
						<li>Ruby |</li>
						<li>Rails |</li>
						<li>Javascript |</li>
						<li>HTML |</li>
						<li>CSS</li>
					</ul>
				</div>
	

	<!-- <a name="about_me"><div class="about_me"></a>
	<h1 class="about_heading">About me</h1>
		<p>
			 
		</p>
</div> -->

<!-- <a name="education"><div class="education"></a>
	<h1 class="headings">Education</h1>
			<p class="light">
						<i class="fa fa-book"></i> <br>
						<i class="fa fa-book"></i> <br>
						<i class="fa fa-book"></i>
			</p>
</div> -->

<!-- <a name="code"><div class="code"></a>
	<h1 class="about_heading">Additional Knowledge</h1>
			<p>
				Ruby on Rails<br>
				Javascript<br>
				HTML5<br>
				CSS3<br>
				Photoshop<br>
				Microsoft Office
			</p>
</div> -->

<a name="portfolio"><div class="portfolio"></a>
	<h1 class="headings">Projects</h1>
			<p class="light">
			<div class="photo-grid">
<ul class="photo-grid">
	<li>
		<a href="http://chordbuddy.herokuapp.com/">
			<figure>
				<img class="thumb" src="/assets/chord_buddy.png" height="300" width="320" alt="chord buddy">
				<figcaption><p>Chord Buddy</p></figcaption>
			</figure>
		</a>
	</li>
  <li>
		<a href="https://floating-ravine-3343.herokuapp.com/">
			<figure>
				<img src="/assets/rainforest.png" height="180" width="320" alt="rainforest">
				<figcaption><p>Rainforest</p></figcaption>
			</figure>
		</a>
	</li>
	<li>
		<a href="https://github.com/tonycarballeira/rails_project">
			<figure>
				<img src="/assets/todo.png" height="180" width="320" alt="out of time">
				<figcaption><p>Out Of Time</p></figcaption>
			</figure>
		</a>
	</li>
      
</ul>
  </div>
			</p>
</div>

<a name="contact"><div class="contact"></a>
	<h1 class="about_heading">Contact Info</h1>
			<p>
					Email: tonycarballeira@gmail.com <br><br>
					<a id="github" href="https://www.linkedin.com/in/tonycarballeira" target="new"><i class="fa fa-linkedin fa-3x"></i></a> |
					<a id="github" href="https://github.com/tonycarballeira"><i class="fa fa-github-alt fa-3x"></i></a>
			</p>
</div>