

<div class="row-fluid">

    <div class="demo-1">

        <div id="large-header" class="large-header col-md-12">
            <div id='overlay'></div>        
            <div id="canvas-wrap">
                
                <canvas id="demo-canvas" width="941" height="775"></canvas>

                
                    <div class="col-md-4 col-md-offset-4 text-center paragraphs" style="z-index:2">
                        <p class="top_head">TONY.C</p>
                        <p class="skill_body">Hello! My name is Tony Carballeira, and I'm a Miami-based developer. When i'm not stuck in Miami traffic, you can find me coding for work, freelance, and personal projects.  </p>
                        </br>
                        
                        <p class="skill_body">I have a diverse set of skills, ranging from HTML + CSS + Javascript, all the way to Ruby, Python, and database management. </p>

                        <%= image_tag("tony.jpg", :class => 'tony_pic', :alt => "rss feed") %>

                        <ul class='social_icons'>
                            <li>
                                <a href="https://www.linkedin.com/in/tonycarballeira" class="icon_links">
                                    <i class="icon-linkedin-sign icon-large ico"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/tonycarballeira" class="icon_links">
                                    <i class="fa fa-github icon-large ico"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
               
               
            </div>
        </div>
    </div>  

</div>  
 





<section >
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" id="services">
                <div class="col-md-6 col-md-offset-3 text-center skill_div tester" >
                    <h2 class="skill_head" >Skills</h2>
                    <p class="skill_body">Over the past few years, I have had the opportunity of working with a diverse set of programming languages and technologies alongside some talented teams on a number of projects.</p>
                    </br>
                    <p class="skill_body">I have a wide range of skills that include design (and working closely with designers), front-end development (HTML5, CSS3, Javascript, Responsive, UX), back-end development using open source technologies (Ruby, Python, Django and Rails), interacting with databases (SQL Server, Postgres, MySQL), and being a google search master. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pentagons"></div>
        </div>
    </div>
</section>

<section id="portfolio" class="skills_image">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                
                <div class="col-md-6 col-md-offset-3 text-center skill_div">
                    <h2 class="skill_head" >Projects</h2>
                    <p class="skill_body">This is a sample of the projects that I've worked on that are currently live. All of these applications were developed using Git version control.</p>
                    </br>
                    <p class="skill_body" style="margin-bottom:100px">I especially enjoy working on projects that provide clever and often convenient solutions, and I will be including some mobile projects here soon.</p>
                </div>
            </div>
        </div>
    </div>
               
    <div class="container-fluid">

        <div class="row no-gutter">
            
            <div class="col-lg-4 col-sm-6 imager">

                <a href="#portfolioModal2" class="portfolio-box" data-toggle="modal">
                    <img src="school.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                School of Interactive Design
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-lg-4 col-sm-6 imager">
                
                <a href="#portfolioModal1" class="portfolio-box" data-toggle="modal">
                    <img src="chord_buddy.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Chord Buddy
                            </div>
                        </div>
                    </div>
                </a>

            </div>

            <div class="col-lg-4 col-sm-6 imager">

                <a href="#portfolioModal4" class="portfolio-box" data-toggle="modal">
                    <img src="task_manager.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Task Manager
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4  col-sm-6 imager">

                <a href="#portfolioModal3" class="portfolio-box" data-toggle="modal">
                    <img src="tombstone_con.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Tombstone
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- <div class="col-lg-4  col-sm-6 imager">

                <a href="#portfolioModal5" class="portfolio-box" data-toggle="modal">
                    <img src="go_locker.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Go Locker
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            
        </div>
    </div>
</section>



<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="skill_head">Contact</h2>
                
                <p class="skill_body">I'm available to discuss projects, so get in touch:</p>
                <p>tonycarballeira@gmail.com</p>
            </div>
            
           
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="skill_head" style="color:black;margin-bottom:60px;">Chord Buddy</h2>                        
                        <img src="chord_buddy.jpg" class="img-responsive img-centered" alt="">
                        <p class="skill_body" style="color:black;font-weight:400!important;">Chord Buddy is a web application that not only helps users easily play and identify piano chords, but also helps the user build chord progressions one chord at a time by automatically suggesting a new chord, based on music theory, to follow any chord that is played or selected. It was a fun rails app to build, and work on it included a lot of javascript!</p>
                        <ul class="list-inline item-details">
                            <li>
                               <a href="https://github.com/tonycarballeira/chord_generator" class="icon_links">
                                    <i class="fa fa-github icon-large ico_2"></i>
                                </a>
                            </li>
                            <li>
                                <strong><a href="http://chordbuddy.herokuapp.com/">chordbuddy.herokuapp.com</a>
                                </strong>
                            </li>
                            <li>                                
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="skill_head" style="color:black;margin-bottom:60px;">School of Interactive Design</h2>                        
                        <img src="school.jpg" class="img-responsive img-centered" alt="">
                        <p class="skill_body" style="color:black;font-weight:400!important;">The School of Interactive Design provides it's students access to a library of courses that will help them to learn game development and design. Development included integrating PayPal for customer payments, migrating legacy users, and building an administrative back office, among other features.</p>
                        <ul class="list-inline item-details">
                            <li>
                                 <a href="https://github.com/tonycarballeira/interactive_school2" class="icon_links">
                                    <i class="fa fa-github icon-large ico_2"></i>
                                </a>
                            </li>
                            <li>
                                <strong><a href="https://www.schoolofinteractivedesign.com/">www.schoolofinteractivedesign.com</a>
                                </strong>
                            </li>
                            <li>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="skill_head" style="color:black;margin-bottom:60px;">Tombstone</h2>                        
                        <img src="tombstone2.png" class="img-responsive img-centered" alt="">
                        <p class="skill_body" style="color:black;font-weight:400!important;">Tombstone is a rails application that I had the pleasure of working on with a team of developers that provides a process for bitcoin account holders to grant access to there bitcoin funds to someone of there choosing in the event of there passing. </p>
                        <ul class="list-inline item-details">
                            <li>

                            </li>
                            <li>
                                <strong><a href="http://stormy-reef-2678.herokuapp.com/">Tombstone Site</a>
                                </strong>
                            </li>
                            <li>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="skill_head" style="color:black;margin-bottom:60px;">Task Manager</h2>                        
                        <img src="task_manager.jpg" class="img-responsive img-centered" alt="">
                        <p class="skill_body" style="color:black;font-weight:400!important;">Task Manager is a rails application that can provide any organization a CRUD for Teams, Team Members, and Tasks. A user can log in to the app as a Super Manager, Manager, or Staffer. Managers can assign tasks to staffers, and staffers can add updates to those tasks. Notable Feature: Ajax get request on the create task page for Super Managers. Login info for the site is on the home page. </p>
                        <ul class="list-inline item-details">
                            <li>
                                <a href="https://github.com/tonycarballeira/Admin_task_app" class="icon_links">
                                    <i class="fa fa-github icon-large ico_2"></i>
                                </a>
                            </li>
                            <li>
                                <strong><a href="http://secure-anchorage-8871.herokuapp.com/">Task Manager Site</a>
                                </strong>
                            </li>
                            <li>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="skill_head" style="color:black;margin-bottom:60px;">Go Locker</h2>                        
                        <img src="go_locker.jpg" class="img-responsive img-centered" alt="">
                        <p class="skill_body" style="color:black;font-weight:400!important;">This is an example of a Front-End project I worked on. Custom Design. Fully Responsive. Below is a link to the codpen.</p>
                        <ul class="list-inline item-details">
                            <li>
                            </li>
                            <li>
                                <strong><a href="http://codepen.io/chinaski87/full/EKZzay/">Go Locker</a>
                                </strong>
                            </li>
                            <li>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


