// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
  font-family: 'blade';
  src: asset-url("BLADRMF_.TTF");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'visitor';
  src: asset-url("visitor1.ttf");
  font-weight: normal;
  font-style: normal;
}





