<!DOCTYPE html>
<html>
<head>
  <title>Tony Carballeira</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>


<div class="main_header">
	<img alt="Space" src="/assets/space.jpg" width="100%" height="700px">
</div>

<div id="navigation">
	<a href="">Home</a>
	<!-- <a href="#about_me">About me</a> -->
	<!-- <a href="#education">Education</a> -->
	<!-- <a href="#code">Coding</a> -->
	<a href="#portfolio">Projects</a>
	<a href="#contact">Contact</a>
</div>



<%= yield %>

</body>
</html>
